body{
    background-color: rgb(195, 192, 188);
}
.udcontainer{
    margin-left: 18.5%;  
    margin-right: 5%;
}
@media(max-width:998px){
    .udcontainer{
        margin-left: 18.5%;  
        margin-right: 5%;
    }
}
@media(max-width:750px){
    .udcontainer{
        margin-left: 18.5%;  
        margin-right: 5%;
      }
}
@media(max-width:650px){
    .udcontainer{
        margin-left: 18.5%;  
        margin-right: 5%;
    }
}
@media(max-width:550px){
    .udcontainer{
        margin-left: 18.5%;  
        margin-right: 5%;
          
    }
}